/* Figure Banner */
.figure {

    width: 730px;
    margin-left: 100px;
    margin-top: 100px;
}

/* End Figure Banner */

/* Card Banner */

.card {

    margin-top: 100px;
    margin-left: 100px;
    width: 520px;
    background: #fff;
    border-width: 0;
    color: #000;
    text-align: justify;
}

.card-title {

    margin-top: -40px;
    font-size: 60px;
    color: #9859b4;
}

.card-link {

    margin-left: 340px;
    border-color: #9859b4;
}

.card-link:hover {

    color: white;
    background: #000;
    border-color: #9859b4;
}

/* End Card Banner */

@media (max-width: 360px) {

    .figure {
        
        margin-top: 40px;
        margin-left: 20px !important;
        width: 400px !important;
    }

    .card {

        margin-left: 0px !important;
        width: 310px !important;
    }

    .card-title {

        font-size: 25px;
        margin-top: -90px;
    }

    .card-text {

        font-size: 15px;
        
    }

    .card-link {

        margin-left: 134px !important;
    }
}

@media (max-width: 576px) {

    .figure {
        
        margin-top: 40px;
        margin-left: 40px;
        width: 560px;
    }

    .card {

        margin-left: 10px;
        width: 450px
    }

    .card-title {

        font-size: 25px;
        margin-top: -90px;
    }

    .card-text {

        font-size: 15px;
        overflow-wrap: break-word;
    }

    .card-link {

        margin-left: 274px;
    }
}