{% extends 'core/base.html' %}

{% block title %}<title>Blog | {{ title }}</title>{% endblock %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'core/css/welcome.css' %}">{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-7 col-lg-5 col-md-4 col-sm-10 col-10">
            <figure class="figure img-fluid">
                <img src="{% static post.image_welcome %}" class="figure-img rounded img-fluid " alt="...">
                <figcaption class="figure-caption text-right">Developed by Diego Alvarez.</figcaption>
            </figure>
        </div>
        <div class="col-5 col-lg-7 col-md-8 col-sm-10 col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.description }}</p>
                    <a href="{% url 'gallery' %}" class="card-link btn btn-light">Empecemos</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}